name: beat_pads
description: USB Midi Pad Controller for Music Production
publish_to: "none"
version: 0.9.0+64

# Read more about Android versioning:
# https://developer.android.com/studio/publish/versioning
# Read more about iOS versioning:
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.

environment:
  sdk: ">=2.19.6 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  animated_text_kit: ^4.2.2
  flutter_riverpod: ^2.3.2
  rive: ^0.10.2
  shared_preferences: ^2.0.20
  simple_gradient_text: ^1.2.4
  url_launcher: ^6.1.10
  wakelock: ^0.6.2

  flutter_midi_command:
    ^0.4.11
    # git:
    #   url: https://github.com/InvisibleWrench/FlutterMidiCommand.git
    #   ref: master
    # path: /Users/anz/localDev/FlutterMidiCommand

  # Use with the CupertinoIcons class for iOS style icons:
  # cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.12.0

flutter_icons:
  # Recompile icons with:
  #   flutter pub run flutter_launcher_icons:main

  #  - Icons Settings -
  # image_path: "assets/logo/logo.png"
  ios: true
  image_path_ios: "assets/logo/logo_ios.png"
  remove_alpha_ios: true
  android: true
  image_path_android: "assets/logo/logo.png"
  adaptive_icon_foreground: "assets/logo/logo_foreground.png"
  adaptive_icon_background: "assets/logo/logo_back.png"

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/anim/doggo.riv
    - assets/logo/logo_noframe.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Righteous
      fonts:
        - asset: assets/fonts/Righteous-Regular.ttf

  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
